* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to top, #9b6fc3, #2e1e3e);

}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

table {
    width: 90%;
    margin: 0 auto 40px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

th,
td {
    padding: 14px 20px;
    text-align: center;
    border-bottom: 1px solid;
}

th {
    background-color: #007bff;
    color: white;
}

tr:hover {
    background: linear-gradient(to top, #9b6fc3, #2e1e3e);
}

button {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c1121f;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #007bff;
    margin-top: 20px;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}